/* Website CSS reset */
body,
html {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
/* NODES LAYOUT / BACKGROUND */
#nodes {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* title container; "Group 4: AI Technology" */
#container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25; /* <- temp padding */
}

#container-title h1,
p {
  display: inline-block;
}

/* title properties: alignment, size, color ["Group 4:"] */
#title {
  flex: 1;
  text-align: center;
  color: white;
  font-size: 2vw;
}
/* title properties: alignment, size, color ["AI Technology"] */
#title p {
  font-size: 3vw;
}

/* popup elements: sizing, arrangement (z-index) */
#container-popup {
  display: flex;
}

.popup {
  flex: 1;
  display: none;
  position: absolute;
  padding: 10px;
  padding-left: 5%;
  z-index: 1;
}

.popup img {
  display: flex;
  width: 20%;
}

#temp {
  padding: 10%;
}

.hover-element {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* People Portion */
#flex-container {
  display: flex;
  position: relative;
  padding: 0px;
  padding-top: 5%;
  padding-bottom: 40px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* temp border */
  border: 1px red solid;
}

/* individual people (two seperate buttons merged together so there could be a gap between head and body */
.box-1 {
  position: relative;
  flex: 1;
  z-index: 2;
  /* temp border */
  border: 1px blue solid;
}

/* another box over people which enlarges the head, can be removed */
.double {
  width: 80%;
  margin-bottom: 1px;
  cursor: pointer;
  transition: transform 0.3s ease;
  /* temp border */
  border: 1px purple solid;
}

/* the circle which creates the head */
.head {
  width: 50%;
  padding-bottom: 50%;
  margin-bottom: 0;
  cursor: pointer;
  border: none;
  background-color: none;
  border-radius: 40em;
  transition: transform 0.3s ease;
  /* temp border */
  border: 1px darkgreen solid;
}

/* body portion, underneath the head */
.enlarge {
  width: 75%;
  padding-bottom: 100%;
  cursor: pointer;
  border: none;
  background-color: none;
  border-radius: 40em 40em 60em 60em;
  transition: transform 0.3s ease;
  /* temp border */
  border: 1px darkblue solid;
}
/* enlarges both head and body */
.double:hover {
  transform: scale(1.2);
}
/* enlarges head again so it creates a little in and out effect when hoveering over just the head */
.head:hover {
  transform: scale(1.1);
}
/* bar below people in order to provide a possible subject change and add more details below or inside of it */
.divide-bar {
  display: block;
  padding: 15px;
  padding-left: 5%;
  background-color: white;
  color: black;
  font-size: 10vw; /* Responsive font size */
  font-weight: bold;
  mix-blend-mode: screen; /* This makes the cutout text possible */
}
/* subject change title */
.divide-bar h1 {
  padding: 0;
  margin: 0;
  font-size: 2vw;
}

/* People/Facts (this gives each person an ID so we can style it further, can be removed if need be) */
#person-1 {
  margin: 0;
}

#person-2 {
  margin: 0;
}

#person-3 {
  margin: 0;
}

#person-4 {
  margin: 0;
}

#person-5 {
  margin: 0;
}

/* information continued...  EACH PARENT/CHILD DIV IS MADE SO THE ELEMENTS CAN SLIDE IN FROM LEFT/RIGHT. can be continued if desired. */

#information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information-section {
  background-color: var(--clr);
  color: white;
  display: flex;
  width: 80%;
  height: 175px;
  margin: 5px;
  transform: translateX(400%);
  transition: transform 0.8s ease;
  border: 1px red solid;
}

.information-section:nth-of-type(even) {
  transform: translateX(-400%);
  width: 80%;
  font-size: 1.5vw;
}

.information-section:not(:first-of-type):nth-of-type(odd) {
  transform: translateX(400%);
  width: 80%;
  font-size: 1.5vw;
}

#information-start {
  font-size: 4vw;
  font-weight: bold;
}

.slide-left {
  transform: translateX(-200%);
}

.information-section.show {
  transform: translateX(0);
}

.hidden-text {
  display: none;
  margin-top: 10px;
}

/* Styling for the button */
.toggle.btn {
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

