body,
html {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

#nodes {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* "NavIgatIOn BAr" */
#nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25; /* <- temp padding */
}

#title {
  flex: 1;
  text-align: center;
  color: white;
  font-size: 250%;
}

#title p {
  font-size: 140%;
}

#temp {
  padding: 10%;
}

/* pop/hover element(s) & section (guidance from CHATGPT) */
.popup {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
}

.hover-element {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* Body Portion */
#flex-container {
  display: flex;
  position: relative;
  padding: 0px;
  padding-bottom: 40px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.box-1 {
  position: relative;
  flex: 1;
  z-index: 2;
}

.double {
  width: 80%;
  margin-bottom: 1px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.head {
  height: 100%;
  width: 50%;
  padding-bottom: 50%;
  margin-bottom: 0;
  cursor: pointer;
  border: none;
  background-color: none;
  border-radius: 40em;
  transition: transform 0.3s ease;
}

.enlarge {
  height: 100%;
  width: 75%;
  padding-bottom: 100%;
  cursor: pointer;
  border: none;
  background-color: none;
  border-radius: 40em 40em 60em 60em;
  transition: transform 0.3s ease;
}

.double:hover {
  transform: scale(1.2);
}

.head:hover {
  transform: scale(1.1);
}

.divide-bar {
  display: block;
  padding: 25px;
  color: white;
  background-color: #ccc;
}

.divide-bar h1 {
  padding: 0;
  margin: 0;
  font-size: 40px;
}

/* People/Facts */
#person-1 {
  margin: 0;
}

#person-2 {
  margin: 0;
}

#person-3 {
  margin: 0;
}

#person-4 {
  margin: 0;
}

#person-5 {
  margin: 0;
}
